ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services {
  &-list {
    margin-left: 110px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: calc((100% + 10px) / 12 * 4 - 11px);
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:not(:nth-child(3n)) {
      margin-right: 50px;
    }
  }

  &-header {
    text-align: center;
    &.-main {
      margin-bottom: 20px;
    }
  }

  &-wrap-header {
    display: flex;
    flex-direction: column;
  }

  &-img {
    width: 267px;
    height: 267px;
    border-radius: 50%;
  }

  &-price {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    color: #10c7d2;
    top: 75%;
    left: 60px;
    text-shadow: 1px 2px 3px rgba(6, 18, 51, 0.6);
  }
}

.center {
  margin: 0 auto;
}

.margin-auto {
  margin: auto auto 15px;
}
