.footer {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.5);
  height: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  & > p {
    margin-left: 50px;
    font-weight: 500;
    font-style: italic;
  }

  &-smile {
    font-style: normal;
  }
}
