td {
  margin: 0;
  padding: 0;
}

.cart-table{
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  border-collapse: collapse;
}

.table-ice {
  width: 33px;
  padding-left: 42px;
  padding-top: 12px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    top: 26px;
    left: 15px;
    background-image: url("../../svg/cross-small.svg");
  }

  &-name {
    width: 200px;
    padding-left: 5px;
    padding-top: 20px;
  }
  &-count {
    width: 80px;
    padding-left: 27px;
    padding-top: 11px;
    color: #323232;
    & span {
      margin-left: 3px;
    }
    &.-button {
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      padding-left: 0;
      padding-top: 0;
    }
  }
  &-price {
    width: 50px;
    padding-top: 11px;
    & span {
      margin-left: 2px;
      color: #999;
    }
  }

  &-total {
    width: 78px;
    padding-top: 11px;
    padding-left: 20px;
    & span {
      margin-left: 5px;
      color: #323232;
    }
  }

}

.total {
  min-width: 109px;
  padding-top: 31px;
  padding-right: 14px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  color: #323232;
}

.ice-in-catalog-cart {
  margin-left: -2px;
  margin-bottom: -3px;
  border-radius: 50%;
}