body {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
#root {
  flex: 1 0 auto;
}

a:hover {
  text-decoration: none;
}

.spinner {
  height: 50px;
  position: fixed;
  top: 40%;
  left: 40%;
  &-text {
    vertical-align: super;
    font-style: italic;
    color: #007bff;
  }
}

