.header {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  &-buttons {
    display: flex;
    & > li {
      margin-right: 10px;
      & > a {
        display: block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        &:hover {
          color: #212529;
          background-color: #e2e6ea;
          border-color: #dae0e5;
          text-decoration: none;
        }
      }
    }

    & > li:first-child {
      margin-left: 10px;
    }

    & > li:last-child {
      margin-left: auto;
    }
  }
}
